.calendar {
    grid-column: 1;
    grid-row: 1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    .react-calendar{
        background: none;
        border: none;
        width: calc(1580px / 2);
        .react-calendar__navigation{
            .react-calendar__navigation__label{
                width: 100%;
            }
            button{
                border-radius: 0;
                
            }

        }
        .react-calendar__viewContainer{
            .react-calendar__month-view__days{
                

            }
        }
    }
}
.react-calendar__month-view__weekdays__weekday{
    abbr{
        font-size: 22px;
    }
}

.react-calendar__month-view__days{
    button{
        border-radius: 0;
        height: 100px;
        width: 100px;
        font-size: 26px;
    }
}
.react-calendar__tile:disabled {
    background-color: #000000;
}

.react-calendar__tile{
    a{
        padding: 0;
        margin: 0;
    }
}

.react-calendar__year-view__months{
    button{
        abbr{
            font-size: 30px;
        }
    }
}