.order-the-table-conteiner {
    padding: 20px;
    h2{}
    .order-conteiner {
        form{
            .form-data {
                display: flex;
                flex-direction: column;
                align-items: center;
                input{}
                button{}
            }
            .Club-room {
            }
        }
    }
}


