.categories {
    margin: 20px 0 40px 0;
    .tabs-name{
        display: flex;
        justify-content: space-around;
        column-gap: 20px;padding: 0 20px;
        flex-wrap: wrap;
        @media (min-width: 868px) {
            flex-wrap: nowrap;
        }
        .tab{
            font-size: 26px;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 50px;

        }
        .tab.active{
            background-color: crimson;
        }
    }
}