.tables-left, .tables-right {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    
    button {

        width: 8vw;
        height: 12vw; 
        

        @media (min-width: 768px) {
            width: 50px;
            height: 100px;
        }
        @media (min-width: 1000px) {
            width: 4vw;
            height: 6vw;
        }
        @media (min-width: 1920px) {
          width: 80px;
          height: 130px;
        }
    }
}
.center {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    
    .deco{
        
        .monitor{
            background-color: black;
            width: 100%;
            height: 3vw;
            margin: 10px 0;
            @media (min-width: 1920px) {
                width: 100%;
                height: 50px;
            }

        }
        .scene{
            background-color: black;
            width: 100%;
            height: 7vw;
            border-radius: 0 0 100px 100px;

            @media (min-width: 1920px) {
                width: 100%;
                height: 160px;
            }
        }

    }
    .order-info{
        
        .time{
            color: black;
            font-size: 20px;
        }
    }

    
    .tables-midle {
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        .line1, .line2 {
            display: flex;
            
            button {
                width: 12vw;
                height: 8vw; 

                @media (min-width: 768px) {
                    width: 100px;
                    height:  50px;
                }
                @media (min-width: 1000px) {
                    width: 6vw;
                    height: 4vw;
                }
                @media (min-width: 1920px) {
                    width: 130px;
                    height: 80px;
                }
            }
        }
        .line1{
            padding-bottom: 4vw;
            column-gap: 20px;
            justify-content: center;
        }
        .line2{
            justify-content: space-around;
            column-gap: 20px;
        }



    }
}

.tables-left {
    
}
.tables-right {
    
}
