.slider-conteiner {
    .slider {
        width: 100vi; 
        height: auto;
        @media (min-width: 1920px) {
            width: 1920px; 
        }
        .slick-slider{
            .slick-list{
                .slick-track{
                    width: 1920px;
                }
            }
        }
    }
}